<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ElisaMartin</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
  </div>

    <div id="particles-js" class="fadeIn"></div>

    <img class="headerimg fadeInUp animated" src="../assets/images/Elisa.jpg" />

    <div class="header">

        <h2 class="fadeInUp animated text h2header animate fadeInDown"> Elisa Martin </h2>

    </div>

    <a class="fadeIn animated" id="down" href="#about"><i class="bounce fa fa-angle-down white fa-2x iheader cursor" aria-hidden="true"></i></a>

    <div class="container">
        <div id="about">
            <div class="col-xs-12 col-sm-5">
                <div class="st1">
                  <h2 id="primeiro">find out more <br><span>about me</span></h2>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7">
                <div id="segundo" class="st1 st3">
                    <h3 id="segundo1"><span>Elisa Martin</span></h3>
                    <p id="segundo2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis nisi vel ipsum placerat tristique a non justo. Etiam gravida dictum nibh, a laoreet justo lobortis eu. Duis non lorem id lacus aliquet dapibus quis sit amet enim.</p>
                </div>
            </div>

        </div>
        <div id="skills">

            <ul class="skills-bar-container">

                <li id="terceiro1" >
                    <div class="progressbar-title">
                        <h3>HTML5</h3>
                        <span class="percent" id="html-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progressred" id="progress-html"></span>
                    </div>
                </li>
                <li id="terceiro2" >
                    <div class="progressbar-title">
                        <h3>CSS / SASS</h3>
                        <span class="percent" id="css-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progressblue" id="progress-css"></span>
                    </div>
                </li>

                <li id="terceiro3" >
                    <div class="progressbar-title">
                        <h3>JavaScript / jQuery</h3>
                        <span class="percent" id="javascript-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresspurple" id="progress-javascript"></span>
                    </div>
                </li>

                <li id="terceiro4">
                    <div class="progressbar-title">
                        <h3>PHP</h3>
                        <span class="percent" id="php-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progressorange" id="progress-php"></span>
                    </div>
                </li>

                <li id="terceiro5">
                    <div class="progressbar-title">
                        <h3>AngularJS</h3>
                        <span class="percent" id="angular-pourcent"></span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progressgreen" id="progress-angular"></span>
                    </div>
                </li>

            </ul>

        </div>

        <div id="folio">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="button-group filters-button-group">
                        <button id="btn1" class="" data-filter="*">All</button>
                        <button id="btn2" class="" data-filter=".rec">Recentes</button>

                    </div>
                    <div class="grid">
                      
                      
                        <div id="proj1" class="element-item transition rec">
                            <figure class="effect-lily">
                                <!-- <img src="http://wallpaper.pickywallpapers.com/2560x1600/minimal-apple-wireless-keyboard.jpg" alt="img15" /> -->
                                <figcaption>
                                    <h2>WEDDINGS <span>ARE BAD</span></h2>
                                    <p>hire neil today he need the money</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                      
                        <div id="proj2" class="element-item transition">
                            <figure class="effect-lily">
                                <!-- <img src="http://wallpaper.pickywallpapers.com/2560x1600/minimal-apple-wireless-keyboard.jpg" alt="img15" /> -->
                                <figcaption>
                                    <h2>WEDDINGS <span>ARE BAD</span></h2>
                                    <p>hire neil today he need the money</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                      
                      
                        <div id="proj3" class="element-item transition rec">
                            <figure class="effect-lily">
                                <!-- <img src="http://wallpaper.pickywallpapers.com/2560x1600/minimal-apple-wireless-keyboard.jpg" alt="img15" /> -->
                                <figcaption>
                                    <h2>WEDDINGS <span>ARE BAD</span></h2>
                                    <p>hire neil today he need the money</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                      
                      
                        <div id="proj4" class="element-item transition">
                            <figure class="effect-lily">
                                <!-- <img src="http://wallpaper.pickywallpapers.com/2560x1600/minimal-apple-wireless-keyboard.jpg" alt="img15" /> -->
                                <figcaption>
                                    <h2>WEDDINGS <span>ARE BAD</span></h2>
                                    <p>hire neil today he need the money</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                      
                      
                      
                      
                    </div>
                </div>
            </div>
            <div id="project">
                <div class="row">
                    <h2 id="titleproj" >Lorem ipsum</h2>
                </div>
                <div class="row">
                    <div id="textproj" class="col-md-6 mt6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <b> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></div>
                    <div class="col-md-6 center" >
                      <div class="img_mexe"></div>
      <img  width="auto" height="auto" src="http://alasconnect.com/images/p1.png">
      </div>
                    </div>

                </div>

            </div>

            <div id="social">

                <div class="social-buttons"><a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a><a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a><a href="#" class="social-button google"><i class="fa fa-google"></i></a><a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a><a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
                </div>

            </div>
        </div>
        <div id="footer">
            made with ♥ by Elisa Martin
        </div>

<script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
